tensorflow==2.17.0
keras==3.4.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
scipy==1.13.1
matplotlib==3.9.2
seaborn==0.13.2
Pillow==10.4.0
opencv-python==4.10.0.84
tqdm==4.66.5
pathlib==1.0.1
jupyter==1.0.0
ipykernel==6.29.5
notebook==7.2.2
protobuf==4.25.3
h5py==3.11.0

